@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Café El Mejor</h1>    
</div>

@* <img src="~/img/CafeElMejor2.jpeg" alt="Cafe El Mejor" class="img-fluid"> *@

@* <head>
    <!-- Otros elementos del head -->
    <!-- Asegúrate de reemplazar 'ruta/a/tu/styles.css' con la ruta a tu archivo CSS -->
    <link rel="stylesheet" type="text/css" href="../css/Background_Home.css">
</head> *@
 
@* <head>
    <!-- Otros elementos del head -->
    <style>
        .background-image {
            background-image: url("~/img/CafeElMejor2.jpeg");
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    </style>
</head>

<body class="background-image">
    <!-- Resto del contenido de la página -->
</body> *@
 